# Jekyll ビルド成果物
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler 関連
.bundle/
vendor/

# ログファイルとデバッグ関連
log/
*.log

# 一時ファイル・OS固有のファイル
.DS_Store
Thumbs.db
ehthumbs.db
.idea/
*.swp

# Docker関連
bundle_cache/
node_modules/